@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Reset */
* {
    color: inherit;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Oswald;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

hr {
    border: 0;
    border-top:  1px solid dotted #efefef;
}

img {
    display: block;
    max-width: 100%;
}